/* Inicio estilos Gerais */
*{
    box-sizing: border-box;
}
body{
    
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.secao{
   max-width: 600px;
    margin: 0 auto;
}
/* Fim Estilos Gerais */



/* Início CSS Topo */
.topo{
    width: 100%;
    background-color: #00cad1;
    min-height: 60px;
    margin: 0 auto;

}
 .topoconteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
 }

.topo-logo{
   height: 60px;
}

.topo-links a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    font-size: 17px;
}

.topo-links a:hover{
    color: #004b4c;
}
/* Fim CSS Topo */



/*Inicio CSS imagem de fundo*/
.secao-imgfundo{
    width: 100%;
    background-image: url(img/recepcao.png);
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}

.secao-imgfundotitulo h1{
    width: 100%;
    color: #fff; 
    font-size: 40px;
    font-weight: 450;
    line-height: 55px;
    margin: 0;
}
/*Fim CSS imagem fundo*/



/*Inicio CSS conteudo da pagína*/
#sobre,
#especialidades,
#contato {
  padding: 30px 20px 0;
  
}

 .secao-imgmedico{
    display: flex;
    justify-content: center;
    align-items: center ;
    line-height: 20px;
   
 }
 .secao-imgmedico h3{
    text-transform: uppercase;
    font-weight: 500;

 }

.conteudo{
    width: 100%;
    text-align: center;
    line-height: 20px;
}

.card-especialidades{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    
}


.card-especialidade img{
    width: 100%;
}

.card-especialidade {
 
  border-radius: 3px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 50%);
  margin: 20px;
  width: calc(100% / 3 - 40px)
}

.card-especialidade figcaption{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  
}

.horarios{
    display: flex;
    justify-content: center;
}

.link-horarios{
    text-decoration: none;
    color: #fff;
    background-color: #00cad1;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 500;

}

.contatos{
    line-height: 25px;
}
.contato iframe{
    margin-bottom: 50px ;
}
/*Fim CSS conteudo da pagína*/ 


/*Inicio CSS rodape*/ 
footer{
  width: 100%;
  background-color: #0d6e71;
  color: #fff;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  line-height: 25px;
} 

/* Fim CSS rodape*/


/*inicio CSS Especialidades*/
.link-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center
}

 .link-menu a{
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #00cad1;
    margin: 0 10px 10px;
    font-size: 18px;     
}

.link-menu a:hover{
    color: #0d6e71;
}

.menu-navegacao h1{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.secao-especialidades h3, p{
    text-align: center;
 }

.box-tabela-especialidades{
    display: flex;
    height: 240px;
    padding: 0 20px;
  }
  
  .box-tabela-especialidades img {
    width: 30%;
    height: 100%;
    object-fit: cover;
  }
  
  .tabela-especialidades {
    border-spacing: 0;
    text-align: left;
    width: 70%;
    height: 100%;
  }
  
  .tabela-especialidades thead tr {
    background-color: #00cad1;
    color: #fff;
  }
  
  .tabela-especialidades tr {
    background-color: #f1f1f1;
    color: #585757;
    font-weight: 500;
  }
  
  .tabela-especialidades tbody tr:nth-of-type(2n+1) {
    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
  }
  
  .tabela-especialidades th, .tabela-especialidades td  {
    padding: 10px;
  }


/*Fim CSS Especialidades*/

/*inicio media queries*/

@media (max-width: 1024px) {
    .secao-imgfundo { height: 400px; }
    }
    
    @media (max-width:768px){
      .secao-imgfundo img{height: 300px;}
      .sobre img{ display: none; }
      .card-especialidade{ width: calc(100%/2 - 40px); }  
      .box-tabela-especialidades img { display: none; }
      .tabela-especialidades { width: 100%; }
      .box-tabela-especialidades { height: auto; justify-content: center;}
    }
    
    
    @media(max-width: 425px)  {
        .topoconteudo{ display: flex; flex-direction: column; }
        .topo-links { border-top:1px double rgba(0, 0, 0, .1);}
        .topo-links {padding: 10px;}
        .secao-imgfundo{ height: 200px;}
        .secao-imgfundo h1{ font-size: 22px;} 
        .card-especialidade{ width: 100%;}
        .box-tabela-especialidades {padding: 0;}
    }
    
    @media(max-width: 280px){
         .secao-imgfundo img{ height: 160px;}
         .topo-links a, li{font-size: 13px;}
         .secao-imgfundo h1{ font-size: 17px ;}
         h2, h3{ font-size: 18px;}
         p{ font-size: 14px;}
         .card-especialidade{ width: 100%}
    
    }
    /*Fim media queries*/